<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 align="center">BMI Calculator</h2>
      <br>
      <div class="well text-center">

        <%= form_for :bmi, url: 'bmi/calculate', html: {class: 'form-horizontal'} do %>
            <div class="form-group">
              <label for="weight_kg">Weight (kg):</label>
              <input type="number" name="bmi[weight]"
                     id="weight_kg"
                     placeholder="weight in kg" class="form-control" required>
            </div>

            <div class="form-group">
              <label for="height_cm">Height (cm):</label>
              <input type="number" name="bmi[height]"
                     id="height_cm"
                     placeholder="height in cm" class="form-control" required>
            </div>
            <% if $bmi %>
                <h2><%= $bmi %></h2>
            <% else %>
                <h3 class="text-muted">Calculated BMI</h3>
            <% end %>
            <div>
              <input type="submit" name="Calculate" value="Calculate"/>
            </div>
            <br>
            <div>
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th class="text-center">BMI</th>
                  <th class="text-center">Category</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><=18.5</td>
                  <td>Underweight</td>
                </tr>
                <tr>
                  <td>18.6 - 24.9</td>
                  <td>Normal weight</td>
                </tr>
                <tr>
                  <td>25 - 29.9</td>
                  <td>Overweight</td>
                </tr>
                <tr>
                  <td>>=30</td>
                  <td>Obesity</td>
                </tr>
                </tbody>
              </table>
            </div>
        <% end %>
      </div>

    </div>
  </div>
</div>