<dl>
<h1 align="center"><%=	 @excercises.first.muscle_group.capitalize %> excercises</h1>
</dl>
<div class="container">
  <% @excercises.each do |e| %>
      <div class="lead well">
        <div class="media">
          <div class="media-left">
            <img src="<%= e.thumbnail %>" height="200" width="300">
          </div>
          <div class="media-body">
              <h2 class="media-heading"><%= e.title %></h2>
            <%= e.description %>
          </div>
        </div>
      </div>
  <% end %>
</div>