<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Fitness Portal</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Exercises
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/excercises/legs">Legs</a></li>
          <li><a href="/excercises/back">Back</a></li>
          <li><a href="/excercises/chest">Chest</a></li>
          <li><a href="/excercises/abs">Abs</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Workouts
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/workouts/fullbody">Full body</a></li>
          <li><a href="/workouts/split">Split</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Meals
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/meals/breakfast">Breakfast</a></li>
          <li><a href="/meals/lunch">Lunch</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Tabata
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/tabata/about">About</a></li>
          <li><a href="/tabata/timer">Timer</a></li>
        </ul>
      </li>
      <li><a href="/bmi">BMI Calculator</a></li>
      <li><a href="/questions">Questions and Answers</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
      <button type="button" class="btn btn-success btn-sm navbar-btn" data-toggle="modal" data-target="#AskCoachModal">Ask
        coach
      </button>
      </li>
      <li>
        <div>test</div>
      </li>
    </ul>

  </div>
</nav>