<div class="container">
<h1>
  This website was developed only for educational purposes by student of Masaryk University, Adam Teršl.
</h1>
<div style="display: flex; justify-content: center;">
  <img class="img-responsive" align="middle" src="images/about.jpg">
</div>
</div>