<h2><%= @greeting %>,</h2>

<h2>Your question:</h2>
<p><%= @answer.question.body %></p>
<br>
<h3>My Answer to your question is:</h3>
<p><%= @answer.body %></p>
<br>
Have a great day!
<br>
Your coach, Adam

